
.storie-imagens{
    position: relative;
    z-index: 0;
}
.storie-imagens div{
    display: flex;
    justify-content: center;
}

.borda-storie{
    width: 66px;
    border-radius: 33px;
    margin-right: 14px;
}
.imagem-storie{
    width: 56px;
    border-radius: 33px;
    margin-left: 5px;
    margin-top: 5px;
    position: absolute;
    left: 0;
}
.nome-storie{
    width: 66px; 
    font-size: 12px;
    margin-top: 5px;
}
.seta-stories{
    position: absolute;
    right: 0;
    bottom: 45px;
    font-size: 25px;
    color: #bdbcbc;
    background: #FFFFFF;
    border-radius: 33px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
