header{
    display: flex;
    justify-content: center;
    padding: 10px;
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
}

.barra-interna{
    display: flex;
    justify-content: space-between;
    width: 935px;
}
.barra-interna textarea{
    width: 214px;
}
.barra-esqueda{
    display: flex;
}
.pesquisa{
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    box-sizing: border-box;
    border-radius: 3px;
}
.barra-direita{
    display: flex;
    justify-content: space-between;
    width: 180px;
}

ion-icon{
    font-size: 25px;
    color: #262626;
    margin-right: 10px;
}

.logo{
    padding-left: 10px;
    border-left: 1px solid #DBDBDB;
}

.barra-interna-2{
    display: none;
}