.postagem{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    width: 100%;
    box-sizing: border-box;
    border-radius: 3px;
    margin-bottom: 60px;
}
.comentario{
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #DBDBDB;
}
.barra-comentario{
    width: 100%;
    margin-right: 20px;
    border: 1px solid #DBDBDB;
}
.publicar{
    color: #98cdec;
    font-weight: bold;
    margin-top: 5px;
    font-size: 14px;
}
.postagem img{
    width: 100%;
}
.postagem-barra-superior{
    display: flex;
    justify-content: space-between;
    border: 1px solid #DBDBDB;
    padding: 15px;
}
.direita{
    display: flex;
}
.direita .avatar-postagem{
    margin-right: 14px;
    position: relative;
}
.direita img{
    border-radius: 50%;
}
.direita .borda-postagem{
    width: 33px;
}
.direita .foto-postagem{
    width: 27px;
    position: absolute;
    top: 3px;
    left: 3px;
}
.nome{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #262626;
}
.postagem-barra-superior ion-icon{
    margin-top: 10px;
    font-size: 20px;
}

.postagem-barra-inferior{
    padding: 17.75px;
    border: 1px solid #DBDBDB;
}
.icones-postagem{
    display: flex;
    justify-content: space-between;
}
.curtidas-postagem{
    display: flex;
    margin-top: 13.44px;
}
.curtidas-postagem .imagem-curtidas{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}
.curtidas-postagem span{
    font-weight: bold;
}